body {
  background: radial-gradient(#e66465, #9198e5);
}
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}
.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

/*
FIGMA CSS


.frame1{

position: absolute;
width: 500px;
height: 414px;
left: 0px;
top: 0px;

background: #BEFFB9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.frame9{

position: absolute;
width: 299px;
height: 65px;
left: 101px;
top: 9px;

}

.frame11{

  position: absolute;
width: 173px;
height: 180px;
left: 55px;
top: 91px;


}

.frame10{
  
  position: absolute;
width: 228px;
height: 190px;
left: 221px;
top: 63px;


}

.frame12{

position: absolute;
width: 279px;
height: 56px;
left: 77px;
top: 275px;



}

.frame6{

  position: absolute;
width: 129px;
height: 38px;
left: 177px;
top: 351px;



}

.frame13{
  position: absolute;
width: 70px;
height: 56px;
left: 337px;
top: 274px;
}




*/
