:root {
  --first-degree: 0;
  --second-degree: 0;
}

/* @keyframes turn {
  from {--value: --first-degree;}
  to {--value: --second-degree;}
} */




[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

div[role="progressbar"] {
  margin: 0;
  --size: 6rem;
  --fg: #9146ff;
  --bg: rgb(192, 192, 192);
  --pgPercentage: var(--value);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
  transform: scaleX(-1);
}


body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1.percentage {
  font-weight: 100;
  font-size: 4rem;
}

.main-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num-messages {
  display: flex;
  align-items: center;
}

.num-messages p {
  font-size: 0.75rem;
  margin: 0;
  margin-right: 10px;
}

.indicators {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem
}

.incicator-percentage {
  display: flex;
  flex-direction: column;
}

.incicator-percentage p {
  padding-left: 7px;
}

.may-not-be-streaming-alert p {
  margin: 0;
}

.may-not-be-streaming-alert {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
}

.alert {
  padding: 0.5rem;
}


.num-messages{
  color: #808080;
  text-align: center;
  font-weight: 0;
}

.num-messages:focus{
  color: black

}